$font-limelight: 'Limelight', sans-serif;
$font-lilita: 'Lilita One', sans-serif;
$font-agency: 'Agency FB', sans-serif;
$font-lily-script: 'Lily Script One', sans-serif;
$font-jura: 'Jura', sans-serif;
$font-default: 'Arial, sans-serif';

$color-primary: #424242; // Основной цвет (замени на цвет из макета, если нужно)
$color-text: #fff;


$container-width: 1512px; // Максимальная ширина контейнера
$container-height: 1270px; // Высота контейнера (можно использовать при необходимости)
$container-padding: 20px;